.button {
  background-color: #9b4dca;
  border: 0.09rem solid #9b4dca;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  &.outlined {
    background-color: transparent;
    color: #9b4dca;
  }

  &:focus {
    outline: none;
  }
}