.card {
	width: 350px;
	padding: 30px;
	transition: .3s ease;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	background: #272525;
	color: #fff;

	&.green {
		background: #1abc9c;
	}
}
.card:hover {
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}
.card:hover .entry-title {
	background-position: -100% 0;
}

.entry-title {
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #16a085 50%);
	background-size: 200%;
	background-position: 0 0;
	display: inline;
	transition: .5s ease-in-out;
	font-family: raleway, arial, sans-serif;
	text-transform: uppercase;
}
.entry-title a {
	color: white;
	text-decoration: none;
}

small {
	margin-top: 20px;
	display: block;
	font-family: raleway, arial, sans-serif;
	text-transform: uppercase;
}
small a {
	font-weight: 700;
	text-decoration: none;
}

span {
	display: block;
	margin-top: 10px;
	font-family: raleway, arial, sans-serif;
	font-weight: 700;
	color: #16a085;
}
