.label {
  font-weight: 500;
  font-size: 14px;
  background-color: #0052cc;
  border-color: #0052cc;
  color: #fff;
  display: inline-block;
  padding-bottom: 4px;
  padding: 4px 6px;
  border-radius: 3px;

  &.warning {
    background-color: #ffd351;
    border-color: #ffd351;
    color: #594300;
  }
}