.bb {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.b--black-10 {
  border-color: rgba(0, 0, 0, .1);
}

.br-100 {
  border-radius: 100%;
}

.db {
  display: block;
}

.flex {
  display: flex;
}

.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.items-center {
  align-items: center;
}

.h2 {
  height: 2rem;
}

.lh-copy {
  line-height: 1.5;
}

.link {
  text-decoration: none;
  transition: color .15s ease-in;
}

.link:link, .link:visited {
  transition: color .15s ease-in;
}

.link:hover {
  transition: color .15s ease-in;
}

.link:active {
  transition: color .15s ease-in;
}

.link:focus {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}

.list {
  list-style-type: none;
}

.w2 {
  width: 2rem;
}

.hover-dark-gray:hover {
  color: #4d4d4f;
}

.hover-dark-gray:focus {
  color: #4d4d4f;
}

.pa3 {
  padding: 1rem;
}

.pl0 {
  padding-left: 0;
}

.pl3 {
  padding-left: 1rem;
}

.mt0 {
  margin-top: 0;
}

.f6 {
  font-size: .875rem;
}

@media screen and (min-width: 30em) {
  .h3-ns {
      height: 4rem;
  }

  .w3-ns {
      width: 4rem;
  }
}

@media screen and (min-width: 60em) {
  .ph0-l {
      padding-left: 0;
      padding-right: 0;
  }
}