body {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
}

.subheader {
  font-weight: normal;
  line-height: 1.4;
  color: #8a8a8a;
}